.greenText{
    --main-tx-color: #0ebb0e;
    color: #0ebb0e;
}

.purpleText{
    --main-tx-color: #BA55D3;
    color: #BA55D3;
}

.redText{
    --main-tx-color: #ff4040;
    color: #ff4040;
}

.blackBack{
    --main-bg-color: #000000;
    background-color: #000000;
    color: var(--main-tx-color);
    padding: 0.5vw;
}

.darkBack{
    --main-bg-color: #0f0f0f;
    background-color: #0f0f0f;
    color: var(--main-tx-color);
    padding: 0.5vw;
}

.grayBack{
    --main-bg-color: #3f3f3f;
    background-color: #3f3f3f;
    color: var(--main-tx-color);
    padding: 0.5vw;
}

.whiteBack{
    --main-bg-color: #efefef;
    background-color: #efefef;
    color: var(--main-tx-color);
    padding: 0.5vw;
}