.greenText{
    --main-tx-color: #0ebb0e;
    color: #0ebb0e;
}

.purpleText{
    --main-tx-color: #BA55D3;
    color: #BA55D3;
}

.redText{
    --main-tx-color: #ff4040;
    color: #ff4040;
}

.blackBack{
    --main-bg-color: #000000;
    border: 5px solid #000000;
}

.darkBack{
    --main-bg-color: #0f0f0f;
    border: 5px solid #0f0f0f;
}

.grayBack{
    --main-bg-color: #3f3f3f;
    border: 5px solid #3f3f3f;
}

.whiteBack{
    --main-bg-color: #efefef;
    border: 5px solid #efefef;
}